<a href="https://colab.research.google.com/github/jisoo615/baekjoon/blob/master/hw3_201722075.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 자료구조와 배열


*   리스트 list
*   튜플 tuple

**자료구조**

컴퓨터에서 처리해야 할 많은 데이터를 효율적으로 관리하고 구조화 하는데 필요하다. 데이터를 구성하는 방식.

**배열**

순서가 있는 묶음 단위의 값을 저장하는 자료구조로, 배열에 저장된 객체 하나하나를 원소라고 하며, 각 원소는 인덱스를 부여받는다.

In [ ]:
#변수
score1 = 100
score2 = 90
score3 = 70
#배열 
score = [100. 90. 70]

# 리스트
파이썬에서 배열 구현 방법

### 리스트는 원소를 변경 할 수 있는 **mutable** 객체이다. 

ex) [1, 2, 3] 혹은 빈 리스트 [ ]

 * 내장 함수 list()를 사용해 문자열, 튜플 등 다양한 자료형 객체를 원소로 하는 리스트 생성 가능

In [ ]:
list1 = []
list2 = [1,2,3]
list3 = ['a', 'b', 'c', ] #==['a', 'b', 'c']
print(list1)
print(list2)
print(list3)

[]
[1, 2, 3]
['a', 'b', 'c']

In [ ]:
#list()내장함수로 리스트 생성
list4 = list()
list5 = list('abc')
list6 = list([1,2,3])
list7 = list({1,2,3}) #집합set
list8 = list((1,2,3)) #튜플
print(list4)
print(list5)
print(list6)
print(list7)
print(list8)

[]
['a', 'b', 'c']
[1, 2, 3]
[1, 2, 3]
[1, 2, 3]


*   range()함수와 조합 하여 리스트 생성 가능
*   None을 사용해 원소값을 정하지 않고 크기만 정하여 리스트 생성 가능
*  리스트간 *,  + 연산 지원.

In [ ]:
list9 = list(range(7)) #ragne(start, end)는 start~end-1
list10 = list(range(3, 8))
list11 = list(range(2, 10, 2))
list12 = [None] * 5 #배열크기 1인 [None]리스트를 *5 복사 하여 만듦
print(list9)
print(list10)
print(list11)
print(list12)

[0, 1, 2, 3, 4, 5, 6]
[3, 4, 5, 6, 7]
[2, 4, 6, 8]
[None, None, None, None, None]

*  내포 표기를 이용한 리스트 생성

리스트 안에서 for , if 문을 사용하여 새로운 리스트를 생성하는 기법

In [ ]:
numbers = [1, 2, 3, 4, 5]
twice = [ num*2 for num in numbers if num%2==1 ]
print(twice)
#홀수인 수들을 두배 한 리스트

[2, 6, 10]

# 튜플

### 튜플은 원소에 순서를 매겨 결합한 이뮤터블 immutable 자료형이다.



*   리스트[ ]와 달리 결합 연산( )자 생략 가능
*   원소가 1개인 경우 단순 변수와 구분하기 위해 반드시 쉼표를 사용해야 함.
*  () 만 사용하면 빈 튜플 생성

In [ ]:
tuple1 = ()
tuple2 = 1,
tuple3 = (1, )
tuple4 = 1, 2, 3
tuple5 = 1, 2, 3, 
tuple6 = (1, 2, 3, )
tuple7 = 'a', 'b', 'c'
print(tuple1)
print(tuple2)
print(tuple3)
print(tuple4)
print(tuple5)
print(tuple6)
print(tuple7)

print("아래는 둘다 int형 변수들 이다")
v1 = 1
v2 = (1)
print(v1)
print(v2)

()
(1,)
(1,)
(1, 2, 3)
(1, 2, 3)
(1, 2, 3)
('a', 'b', 'c')
아래는 둘다 int형 변수들 이다
1
1

튜플도 리스트의 내장함수 list()처럼 내장함수 tuple()을 사용하여 문자열, 리스트 등 다른 여러 자료형 객체를 원소로 하는 튜플 생성 가능하다.

또한 리스트와 마찬가지로 range()함수와 조합합하여 특정 범위의 정수로 구성된 튜플을 생성할 수 있다.

In [ ]:
tuple8 = tuple(range(1, 10, 3))
print(tuple8)

numbers = (1, 2, 3, 4, 5)
tuple9 = tuple(num*10 for num in numbers if num%2==1)
print(tuple9)

(1, 4, 7)
(10, 30, 50)

#리스트와 튜플 공통



*   언팩 - 원소값들을 풀어 여러 변수에 대입
*   배열 원소 접근 : 인덱스, 슬라이스

In [ ]:
#언팩

x = [1, 2, 3]
a, b, c = x
a, b, c

(1, 2, 3)

배열 원소에 접근하기


*   인덱스 index
 
 리스트나 튜플의 원소에 접근할 때 사용

 인덱스식을 이용하여 원소에 접근
 인덱스를 양수론 왼쪽부터는 0부터 1씩 증가하지만

 음수 인덱스론 오른쪽부터 -1에서 -1씩 작아진다. 

  0   1   2   3   4   5 

  -6 -5 -4 -3 -2 -1

*   슬라이스 slice - 파이썬만 있는

  리스트 또는 튜플의 일부를 연속해서 또는 일정한 간격으로 꺼내 새로운 리스트, 튜플을 만드는 것

  슬라이스식 **str[i:l:k]**  str[i]부터 str[j-1]까지 k씩 건너뛰며 나열한다,

  기존 원래 배열을 변경하지 않은 채로 만족하는 원소를 꺼내어 출력함

## 슬라이스 패턴



```
 s[:]       #리스트 s의 모든 원소 출력
 s[:n]      #맨 앞에서 n개까지
 s[i:]      #i부터 끝까지
 s[-n:]     #끝에서n번째부터 끝까지
 s[::k]     #처음부터 끝까지 k씩 건너뛰며
 s[::-1]    #역순 reverse
```

In [ ]:
s = [11, 22, 33, 44, 55, 66, 77]
print(s[0:6])
print(s[0:7])
print(s[0:7:2])
print(s[-4:-2])
print(s[3:1]) #범위를 초과하거나 없어도 오류가 나지 않는다. 
print(s[::-1])

[11, 22, 33, 44, 55, 66]
[11, 22, 33, 44, 55, 66, 77]
[11, 33, 55, 77]
[44, 55]
[]
[77, 66, 55, 44, 33, 22, 11]

## 배열과 관련한 주요 함수

* len()   배열의 원소수(길이, 크기) 반환
* min()   배열이 가진 최솟값을 반환 (배열 내 int float 끼리만 연산되어 반환됨 max()도 마찬가지)
* max()   배열이 가진 원소중에 최댓값을 반환

## 빈 배열 판단하기

배열을 참조하는 변수를 조건식에 사용해 원소 유무 판단.
배열이 비었다면 false반환



```
() = empty
(None) = not empty
len((None)) = 1임
```

In [ ]:
list1 = []
list2 = [1,2]
list3 = [None]

def isEmpty(list):
  if list:
    print(f"이 리스트는 비어있지 않음 True 배열 길이는 {len(list)}")
  else:
    print(f'이 리스트는 비어있음 False 배열 길이는 {len(list)}')

isEmpty(list1)
isEmpty(list2)
isEmpty(list3)

이 리스트는 비어있음 False 배열 길이는 0
이 리스트는 비어있지 않음 True 배열 길이는 2
이 리스트는 비어있지 않음 True 배열 길이는 1

## 배열의 대소 또는 등가 관계 판단

비교 연산자를 사용해 배열의 대소와 등가 관계를 판단
* 맨 앞 원소부터 차례로 비교하면서 원소 값이 같으면 다음 원소 비교
* 배열의 원소 수가 다른 경우 우너소 수가 많은 배열이 크다고 판단



```
[1, 2, 3] == [1, 2, 3]
[1, 2, 3] < [1, 2, 4]
[1, 2, 3, 4] <= [1, 2, 3, 4]
[1, 2, 3] < [1, 2, 3, 5]
[1, 2, 3] < [1, 2, 3, 5] < [1, 2, 3, 5, 6]
[1, 2, 3] < [3, 2, 1] #첫번째 원소부터 차이나서 이후로 비교할 필요 없음
[5] < [1, 2, 3 ] #원소 수가 다를 땐 많은 것이 큼
```

# 리스트와 튜플의 차이점 정리

### 차이점
크게 mutable객체와 immutable객체의 차이와 같다. 최초 생성 이후에 값 변경, 추가, 삭제 등이 가능하는가 아닌가 에 따른 차이..

* 튜플은 immutable 객체이기 때문에 수정하거나 삭제를 할 수 없다. 


그래서 값이 변하지 않아야 하는 dictionary key는 튜플만 쓸 수 있다. 


리스트는 mutable객체로 원소값 변경이 되기 때문에 적합하지 못하다. 

* 인덱스 식과 슬라이스 식을 리스트, 튜플 둘다 사용 할 순 있지만, 

튜플의 경우 식이 좌변에 오는 경우는 불가능 하다. 

(값 변경 위한 목적으로 인덱스식 슬라이스식 쓰지 못하는 것)


```
#튜플일 경우 오류나는 문장들
a(1) = 3
a[1:3] = (10, 11)
```

In [ ]:
#튜플 인덱스식 오류나는 경우
t1 = (1, 2, 3, 4, 5)
t1(3) = 10

SyntaxError: ignored

In [ ]:
#튜플 슬라이스식 오류나는 경우
a = (range(10))
a[0:5] = 9, 8, 7, 6, 5
a

TypeError: ignored

In [ ]:
#튜플과 리스트 += *= (연결, 반복)연산됨
t1 = (1, 2, 3)
t2 = (4, 5, 6)
t1 += t2
print(t1)
t3 = t2*3
print(t3)

(1, 2, 3, 4, 5, 6)
(4, 5, 6, 4, 5, 6, 4, 5, 6)

# 파이썬 변수

## 두 값 교환하기

* 단일 대입문
```
a = 1
b = 2
a, b = b, a
#순서
a, b = (2, 1)
a, b = 2, 1
# a=2
# b=1
```


1.   우변의 b, a에 의해 두 값을 압축한 (b, a)가 생성 
2.   대입 시 튜플 (b, a)를 다시 풀어 b, a로 만든 다음 각각 a와 b에 대입

In [ ]:
a = 1
b = 2
a, b = b, a
print(f'{a}  {b}')

x = 1
y = 2
temp = 1
x = y
y = temp
print(f'{x}  {y}')

2  1
2  1

## 파이썬의 변수 (설명)

### 모두 객체로 취급
데이터, 함수, 클래스, 모듈, 패키지 등

* 객체는 자료형을 가지며 메모리 공간을 차지한다. 
> 모든 객체는 메모리를 차지하고, 객체 식별번호를 가진다. (id: identity)
* 파이썬에선 변수는 값을 갖지 않고, 그저 객체를 참조하는 연결된 이름에 불과하다. 
> ( =는 객체와 참조하는 변수이름을 결합 하는 것임)


* 파이썬은 등가성, 동일성 비교를 한다. 
> 변수는 객체를 참조하는 것뿐이라 등가성(equality) 비교(==) 말고도 동일성(identity) 비교(is)를 할 때도 있다. 

  > 동일성 비교는 좌변과 우변 값이 같은지 비교함과 동시에 객체의 식별번호까지 비교한다, 
* 그래서 객체의 자료형이 무엇이든 간에 변수에 대입 가능하다. 
  > 변수에 값을 대입하면 값이 아니라 값을 참조하는 객체의 식별번호가 변경되기 때문이다. 
* 파이썬에선 =가 연산자가 아닌 명령문이다.
  > ~가르키라는(바인딩) 명령문이라서, 다른 언어에서 a = b = 1처럼 결합연산자로 사용 못한다. a = (b=1)처럼되는데, 파이썬은  a=b=1이면 a=1 b=1바인딩 됨.

* 파이썬은 변수의 값을 동시에 대입할 수 있다. 자료형을 선언하지 않아도 값을 대입하면 변수에 맞는 자료형을 자동으로 선언. 
x, y, z, = 1, 2, 3

In [ ]:
#등가성과 동일성
a = [1, 2, 3]
b = a
if(a == b):
  print("a와 b는 같은 값이다.")
if(a is b):
  print("a와 b는 동일하다.")
else:
  print("a와 b는 동일하지 않다.")

b[1] = 10
print(f"배열 b의 인덱스1을 10으로 바꿨을 때 배열 a도 ->{a} 로 변한다")


print()
c = [1, 2, 3]
d = [1, 2, 3]
if(c == d):
  print("c와 d는 같은 값이다.")
if(c is d):
  print("c와 d는 동일하다")
else:
  print("c와 d는 동일하지 않다.")
print()


#변수에 값을 대입하면 값이 아니라 값을 참조하는 객체의 식별번호가 변경
n = 5
print(id(n))
n = 'ABC'
print(id(n))

a와 b는 같은 값이다.
a와 b는 동일하다.
배열 b의 인덱스1을 10으로 바꿨을 때 배열 a도 ->[1, 10, 3] 로 변한다

c와 d는 같은 값이다.
c와 d는 동일하지 않다.

94663785982592
139966790769520

## 뮤터블 객체와 이뮤터블 객체

**mutable 뮤터블 객체**


*   변경이 가능한 객체
*   최소 생성 이후 자유롭게 값의 변경, 추가, 삭제 등이 가능
*   int, float 형 기본 변수, 사용자 정의 클래스, list, dictionary, set자료형

**immutable 이뮤터블 객체**


*   변경이 불가능한 객체
*   최소 생성 이후에 값 변경이 불가능
*   숫자, 불리언, 문자열, dictionary-key, tuple 자료형