<a href="https://colab.research.google.com/github/jisoo615/baekjoon/blob/master/hw4_201722075.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 배열

## 최댓값 구하기

In [ ]:
#배열 원소 3개 일때
list = [1, 2, 3, 4]
maximum = list[0]
if a[1] > maximum: maximum = a[1]
if a[2] > maximum: maximum = a[2]
if a[3] > maximum: maximum = a[3]

#배열 원소개 n개 일때
maximum = list[0]
for i in range(1, n):
  if maximum < list[i]:
    maxinum = list[i]


#최댓값 구하는 함수-  순회한다(scan)
def max_of(a):
  maximum = a[0]
  for i in range(1, len(a)):
    if maximum < a[i]:
      maximum = a[i]

### 타입 어노테이션 (타입 힌트)

Sequence : 시퀀스형(리스트, 튜플, 문자열 등 순서있는 자료형)

Any : 제약이 없는 임의의 자료형

MutableSequence : 수정 가능한 자료형

None : 반환값이 없음

In [ ]:
#최댓값 구하는 함수 
# 배열 a의 원소값을 변경하지 않음.
#비교 연산자 > 로 값을 비교할 수 있다면  int형 float형이 섞여 있어도 된다. 
#최댓값 원소가 int형 원소이면 int형 반환, float형이면 float형 반환. 

#아래 코드를 max이름의 파일로 같은 폴더내에 생성해뒀음.
from typing import Any, Sequence

def max_of(a : Sequence) -> Any :
  """시퀀스형 a원소의 최댓값을 아무거나 반환"""
  maximum = a[0]
  for i in range(1, len(a)):
    if maximum < a[i]:
      maximum = a[i]
  return maximum

if __name__ == '__main__':
  print('배열의 최댓값을 구합니다.')
  num = int(input('원소 수를 입력하세요.: '))
  x = [None] * num

  for i in range(num):
    x[i] = int(input(f'x[{i}]의 값을 입력하세요: '))
  print(f'최댓값은 {max_of(x)} 입니다,')

배열의 최댓값을 구합니다.
원소 수를 입력하세요.: 10
x[0]의 값을 입력하세요: 2
x[1]의 값을 입력하세요: 3
x[2]의 값을 입력하세요: 5
x[3]의 값을 입력하세요: 6
x[4]의 값을 입력하세요: 2
x[5]의 값을 입력하세요: 88
x[6]의 값을 입력하세요: 5
x[7]의 값을 입력하세요: 4
x[8]의 값을 입력하세요: 99
x[9]의 값을 입력하세요: 33
최댓값은 99 입니다,

### 재사용할 수 있는 모듈 작성

 모듈(module)
 * 하나의 파이썬 스크립트 프로그램
 * 확장자(.py)를 제외한 파일 이름자체를 모듈 이름으로 사용



```
 if __name__ == '__main__'
```
  * _ _name_ _ : 모듈 이름변수
  * 스크립트 프로그램이 직접 실행 될 때 '_ _main_ _'을 가지며, 임포트 되는 경우 원래 모듈 이름을 가짐. 
  * 모듈은 프로그램이 처음 임포트 되는 시점에서 모듈 객체가 생성되며 초기화되는 구조.

import_ipynb 라이브러리 설치

In [ ]:
!pip install import_ipynb

Collecting import_ipynb
  Downloading import-ipynb-0.1.3.tar.gz (4.0 kB)
Building wheels for collected packages: import-ipynb
  Building wheel for import-ipynb (setup.py) ... done
  Created wheel for import-ipynb: filename=import_ipynb-0.1.3-py3-none-any.whl size=2975 sha256=8dd57b2f94c7126929806a518cdb50424a805f8e5c7a8beb9b4fe6b5b3ac2b93
  Stored in directory: /root/.cache/pip/wheels/b1/5e/dc/79780689896a056199b0b9f24471e3ee184fbd816df355d5f0
Successfully built import-ipynb
Installing collected packages: import-ipynb
Successfully installed import-ipynb-0.1.3

코랩 가상 서버와 구글 드라이브 마운트

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

임포트할 모듈 스크립트 파일이 있는 폴더로 이동 (내가 쓰는 작업 폴더로 이동)
매직명령어 %

In [ ]:
%cd /content/gdrive/MyDrive/Colab\ Notebooks/algorithm_2021_2

/content/gdrive/MyDrive/Colab Notebooks/algorithm_2021_2

In [ ]:
import import_ipynb

In [ ]:
#max이름의 파일을 같은 폴더내에 생성해뒀음.
from max import max_of

print("배열의 최댓값을 구합니다.")
print('주의 : "End" 를 입력하면 종료')

number = 0
x = []

while True:
  s = input(f'x[{number}] 값을 입력하세요 : ')
  if s== "End":
    break
  x.append(int(s))
  number += 1

print(f'{number}개 입력함')
print(f'최댓값은 {max_of(x)} 입니다.')

배열의 최댓값을 구합니다.
주의 : "End" 를 입력하면 종료
x[0] 값을 입력하세요 : 3
x[1] 값을 입력하세요 : 4
x[2] 값을 입력하세요 : 7
x[3] 값을 입력하세요 : 2
x[4] 값을 입력하세요 : 9
x[5] 값을 입력하세요 : 5
x[6] 값을 입력하세요 : 4
x[7] 값을 입력하세요 : 2
x[8] 값을 입력하세요 : End
8개 입력함
최댓값은 9 입니다.

### 배열의 원솟값을 난수로 결정하기
배열의 원소 개수, 최댓값, 최솟값은 입력받고 그 사이에서 난수로 배열 구성

In [ ]:
import random
from max import max_of

print(f'난수의 최댓값을 구합니다')
num = int(input('난수의 개수 : '))
lo = int(input('난수의 최솟값 : '))
hi = int(input('난수의 최댓값 : '))
x = [None] * num

for i in range(num):
  x[i] = random.randint(lo, hi)

print(f'{(x)}')
print(f'이 가운데 최댓값은 {max_of(x)} 입니다.')

난수의 최댓값을 구합니다
난수의 개수 : 10
난수의 최솟값 : 5
난수의 최댓값 : 50
[37, 43, 20, 41, 48, 46, 21, 31, 21, 48]
이 가운데 최댓값은 48 입니다.

In [ ]:
#튜플 문자열 문자열 리스트의 최댓값

from max import max_of

t = (1, 5, 7, 2, 3.14, 6, 9.0, 2.18)
s = 'String'
a = ['DTS', 'AAC', 'FLAC']

print(f'{t}의 최댓값은 {max_of(t)}')
print(f'{s}의 최댓값은 {max_of(s)}')
print(f'{a}의 최댓값은 {max_of(a)}')

(1, 5, 7, 2, 3.14, 6, 9.0, 2.18)의 최댓값은 9.0
String의 최댓값은 t
['DTS', 'AAC', 'FLAC']의 최댓값은 FLAC

##  배열 원소를 역순으로 정렬하는 알고리즘

In [ ]:
#맨 앞과 맨 끝을 교환 -> 총 교환 횟수 = 원소개수//2
a = [1, 4, 2, 7, 9, 8, 3]
n = len(x)
for i in range(n//2):
  a[i], a[n-i-1] = a[n-i-1], a[i]

print(a)

[3, 8, 9, 7, 2, 4, 1]

In [ ]:
#역순 정렬 함수
#파일이름 reverse
from typing import MutableSequence, Any

def reverse_array(a : MutableSequence) -> None:
  n = len(a)
  for i in range(n//2):
    6
    7a[i], a[n-i-1] = a[n-i-1], a[i]

if __name__ == '__main__':
  print('배열 원소 역순으로 정리한다')
  nx = int(input('원소 개수 입력 : '))
  x = [None] * nx

  for i in range(nx):
    x[i] = int(input(f'x[{i}]의 값 입력 : ')) 

  reverse_array(x)

  print('배열 원소를 역순으로 정렬했습니다.')
  for i in range(nx):
    print(f'x[{i}] = {x[i]}')

배열 원소 역순으로 정리한다
원소 개수 입력 : 6
x[0]의 값 입력 : 7
x[1]의 값 입력 : 2
x[2]의 값 입력 : 5
x[3]의 값 입력 : 1
x[4]의 값 입력 : 3
x[5]의 값 입력 : 9
배열 원소를 역순으로 정렬했습니다.
x[0] = 9
x[1] = 3
x[2] = 1
x[3] = 5
x[4] = 2
x[5] = 7

### reverse() reversed()



*   reverse()
자기 자신을 역순으로 정렬 list형의 reverse()함수


```
x.reverse()
```


*   reversed()
원소를 역순으로 꺼내는 반복자(이터레이터) 반환
list()함수의 인자로 reversed()함수의 반환 객체를 사용


```
y = list(reversed(x))
```

## 기수 변환
 기수 = 수를 나타내는데 기초가 되는 수


 8진수

 기수 : 0, 1, 2, 3, 4, 5, 6, 7

 5306 = 5x8^3 + 3x8^2 + 0x8^1 + 6x8^0


정수를 n으로 나눈 나머지를 구하는 동시에 몫을 반복해서 나눔.
몫이 0이 될 때까지 과정을 반복한 후 나머지를 역순으로 늘어놓아 기수로 변환한 수를 얻음.

In [ ]:
#10진수를 입력받아, 2~36진수로 변환하여 출력

def card_conv(x:int, r:int)->str:

  d = ''#변환 후의 문자열
  dchar = '0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ'

  while x>0:
    d += dchar[x % r]
    x //= r

  return d[::-1] #역순 반환


if __name__ == '__main__':
  print('10진수를 n 진수로 변환합니다')

  while True:
    while True:
      no = int(input('변환할 값으로 음이 아닌 정수를 입력해라 : '))
      if no > 0:
        break

    while True:
      cd = int(input('어떤 진수로 변환할까요? '))
      if( 2<= cd <=36):
        break;

    print(f'{cd}진수로는 {card_conv(no, cd)}입니다.')

    retry = input("한 번 더 변환할까요?(Y ---예 / N ---아니요) : ")
    if retry in {'n', 'N'}:
      break

10진수를 n 진수로 변환합니다
변환할 값으로 음이 아닌 정수를 입력해라 : 29
어떤 진수로 변환할까요? 2
2진수로는 11101입니다.
한 번 더 변환할까요?(Y ---예 / N ---아니요) : 3
변환할 값으로 음이 아닌 정수를 입력해라 : 29
어떤 진수로 변환할까요? 3
3진수로는 1002입니다.
한 번 더 변환할까요?(Y ---예 / N ---아니요) : n

In [ ]:
#기수 변환과정도 출력
def card_conv_process(x:int, r:int)->str:
  d=''
  dchar = '0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ'
  n - len(str(x))

  print(f'{r:2} | {x}')
  while x>0:
    if x//r : 
      print(f'{r:2} | { x // r} ~~~ {x%r}')
    else:
      print(f'     { x // r} ~~~ {x%r}')
    d += dchar[x%r]
    x //= r

  return d[::-1]


if __name__ == '__main__':
  print('10진수를 n 진수로 변환합니다')

  while True:
    x = int(input('변환할 값으로 음이 아닌 정수를 입력해라 : '))
    if x > 0:
      break

  while True:
    r = int(input('어떤 진수로 변환할까요? '))
    if( 2<= r <=36):
      break;

  print(card_conv_process(x, r))

10진수를 n 진수로 변환합니다
변환할 값으로 음이 아닌 정수를 입력해라 : 29
어떤 진수로 변환할까요? 2
 2 | 29
 2 | 14 ~~~ 1
 2 | 7 ~~~ 0
 2 | 3 ~~~ 1
 2 | 1 ~~~ 1
     0 ~~~ 1
11101

## 소수 나열하기

**소수(Prime numer)**

자신과 1 이외의 자연수로 나누어 떨어지지 않는 자연수
2부터 (n-1)까지 어떤 자연수로도 나누어 떨어지지 않는 수n.

**합성수(Composite number)**
1보다 큰 자연수 중 소수가 아닌 수

In [ ]:
#1000 이하의 모든 소수 나열하기

counter = 0
for n in range(2, 1001):
  for i in range(2, n):
    counter += 1
    if n%i == 0:
      break
  else:
      print(n)
print(f'나눗셈을 실행한 횟수: {counter}')

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
541
547
557
563
569
571
577
587
593
599
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
809
811
821
823
827
829
839
853
857
859
863
877
881
883
887
907
911
919
929
937
941
947
953
967
971
977
983
991
997
나눗셈을 실행한 횟수: 78022

###소수 나열 알고리즘 개선하기(1)

1. 지금까지 구한 소수를 배열의 원소로 저장

2. n이 소수인지 판단할 때 배열에 저장된 소수로 나눗셈 함

3. 숫자를 3부터 시작해 2씩 증가하며 소수 여부 판단.



---

속도는 개선하였으나 메모리를 희생함. 배열크기 500인 리스트 (2k)
상황에 맞춰서 메모리 공간과 속도를 고려해 선택해야

In [ ]:
#소수 나열 개선(1)
counter = 0
ptr = 0 #이미 찾은 소수의 개수
prime = [None]*500

prime[ptr] = 2
ptr += 1

for n in range(3, 1001, 2):
  for i in range(1, ptr):
    counter += 1
    if(n%prime[i] ==0):
      break
  else:
    prime[ptr] = n
    ptr += 1

for i in range(ptr):
  print(prime[i])
print(f'나눗셈을 실행한 횟수 : {counter}')

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
541
547
557
563
569
571
577
587
593
599
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
809
811
821
823
827
829
839
853
857
859
863
877
881
883
887
907
911
919
929
937
941
947
953
967
971
977
983
991
997
나눗셈을 실행한 횟수 : 14622

### 소수 나열 알고리즘 개선하기(2)


정사각형 한 변의 길이만 나눗셈을 시도하고 그 과정에서 한번도 나누어 떨어지지 않으면 소수라고 판단 가능.

**n의 제곱근 이하의 어떤 소수로도 나누어 떨어지지 않으면 자연수 n은 소수다**


---


```
while prime[i]*prime[i] <= n:
```
prime[i]가 n의 제곱근보다 작은지 판단(제곱근 연산이 곱셈보다 느림)


```
counter += 2
```


나눗셈 비용 외에 곱셈 비용 소모-(나눗셈 비용=곱셈비용)

In [ ]:
#소수 나열 알고리즘 개선(2)
counter = 0
ptr = 0
prime = [None]*500

prime[ptr] = 2
ptr += 1

prime[ptr] = 3
ptr += 1

for n in range(5, 1001, 2): #홀수만 대상으로
  i = 1
  while prime[i]*prime[i] <= n:
    counter += 2
    if n % prime[i] == 0: #나누어 떨어지므로 소수가 아님
      break
    i += 1
  else:                    #끝까지 나누어 떨어지지 않았다면 
    prime[ptr] = n         #소수를 배열에 등록
    ptr += 1
    counter += 1


for i in range(ptr):
  print(prime[i])
print(f'나눗셈을 실행한 횟수 : {counter}')

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
541
547
557
563
569
571
577
587
593
599
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
809
811
821
823
827
829
839
853
857
859
863
877
881
883
887
907
911
919
929
937
941
947
953
967
971
977
983
991
997
나눗셈을 실행한 횟수 : 3774

# 리스트와 튜플(6)

In [6]:
#동일성 판단
#따로 따로 생성한 리스트나 튜플일 경우 다른 식별번호를 가짐
list1 = [1, 2, 3, 4, 5]
list2 = [1, 2, 3, 4, 5]
print(list1 is list2)

#참조하는 곳이 복사됨 -> 원소를 list1에서 바꿔도 list2도 같이 바뀜
list2 = list1
print(list1 is list2)

list1[3] = 9
print(list1)
print(list2)
print()
#그래서 위처럼 다 안바뀌게 하려면 copy()써야함
list2 = list1.copy()
list2[4] = 100
print(list1)
print(list2)

False
True
[1, 2, 3, 9, 5]
[1, 2, 3, 9, 5]

[1, 2, 3, 9, 5]
[1, 2, 3, 9, 100]

## 리스트(튜플) 스캔

* 문자열, 리스트, 튜플, 집합, 딕셔너리 등의 자료형 객체는 모두 이터러블 객체임
* 이터러블:


> 이터러블 객체를 내장함수 iter()의 인수로 전달하면, 반복자를 반환하며, 

> 반복자의 __next__ 속성이나 next()함수의 인수로 전달하여 원소를 순차저으로 꺼냄

In [8]:
x = ['john', 'george', 'paul', 'ringo']
for i in range(len(x)):
  print(f'x[{i}] = {x[i]}')

x[0] = john
x[1] = george
x[2] = paul
x[3] = ringo

열거형 객체 enumerate(리스트 튜플...)

index와 값을 동시에 반환한다.

In [9]:
#리스트의 모든 원소를 enumerate()함수로 스캔하기
x = ['John', 'George', 'Paul', 'Ringo']

for i, name in enumerate(x):
  print(f'x[{i}] = {name}')

x[0] = John
x[1] = George
x[2] = Paul
x[3] = Ringo

In [11]:
#리스트의 모든 원소를 enumerate()함수로 스캔하기(1부터 카운트)
x = ['John', 'George', 'Paul', 'Ringo']
#0부터가 아니라 1이 시작이 됨
for i, name in enumerate(x, 1):
  print(f'{i}번째 =  {name}')

1번째 =  John
2번째 =  George
3번째 =  Paul
4번째 =  Ringo

In [12]:
#인덱스값 사용하지 않고
for i in x:
  print(i)

John
George
Paul
Ringo

## 함수 사이에 인수 주고 받기

* 객체 참조에 의한 전달 call by object reference (이뮤터블 일때-튜플)

함수의 실행 시작 시점에 매개변수는 실제 인수와 같은 객체를 참조

* 인수가 이뮤터블 일때
> 함수 안애서 매개변수의 값을 변경하면 다른 객체를 생성하고, 그 객체에 대한 참조로 업데이트 하며, 호출하는 쪽의 실제 인수에 영향을 주지 않음

* 인수가 뮤터블 일때
> 함수 안에서 매개변수의 값을 변경하면 객체 자체를 업데이트하며, 호출하는 쪽의 실제 인수도 값이 변경

In [13]:
#뮤터블-리스트 에서 업데이트

def change(list, idx, val):
  list[idx] = val

x = [11, 22, 33, 44, 55]
print('x = ', x)

index = int(input('업데이트할 인덱스 : '))
value = int(input('새로운 값을 입력하세요 : '))

change(x, index, value)
print(f'x = {x}')

x =  [11, 22, 33, 44, 55]
업데이트할 인덱스 : 2
새로운 값을 입력하세요 : 99
x = [11, 22, 99, 44, 55]

### 리스트(튜플)의 원소 자료형을 미리 지정할 필요가 없음.

파이썬에서 변수는 객체와 연결된 이름에 불과하기 때문이다.

In [15]:
x = [15, 63, 3.14, [32, 55], 'ABC']
for i in range(len(x)):
  print(f'x[{i}] = {x[i]}')

x[0] = 15
x[1] = 63
x[2] = 3.14
x[3] = [32, 55]
x[4] = ABC

## 리스트의 복사



*   얕은 복사  copy()
> 객체가 갖는 멤버의 값을 새로운 객체로 복사할 때 객체가 참조 자료형의 멤버를 포함할 경우

  > 리스트는 별도로 생성하지만, 참조값만 복사하여 그 내용이 같음
  
  >x가 참조하는 곳이 다르면 y도 함께 달라짐
*   갚은 복사  deepcopy() --id가 다름
> 참조값 뿐만 아니라 참조하는 객체 자체를 재귀적으로 복사함

  > 객체가 갖는 모든 멤버(값과 참조 형식 모두)를 복사하여 전체 복사라고도 함

In [16]:
#shallow copy
x = [[1, 2, 3], [4, 5, 6]]
y = x.copy()

x[0][1] = 9
print(x)
print(y)

[[1, 9, 3], [4, 5, 6]]
[[1, 9, 3], [4, 5, 6]]

In [17]:
#deep copy
import copy
x = [[1, 2, 3], [4, 5, 6]]
y = copy.deepcopy(x)

x[0][1] = 9

print(x)
print(y)

[[1, 9, 3], [4, 5, 6]]
[[1, 2, 3], [4, 5, 6]]